<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper Xml -->
<mapper namespace="com.project.fastpickup.admin.product.mappers.ProductMapper">
  <!-- Create Product ProductMapper id = "createProduct" -->
  <insert id="createProduct">
    insert into tbl_product tp
    (tp.productName, tp.productContent, tp.productPrice, tp.isRecommend)
    values (#{productName}, #{productContent}, #{productPrice}, #{isRecommend})
    <selectKey resultType="long" keyProperty="pno" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <!-- List Product ProductMapper id = "getList" -->
  <select id="getList" resultType="ProductListDTO">
    select prdt.pno, prdt.productName, prdt.productPrice, prdt.registDate, prdt.viewCount,
           prdt.likeCount, prdt.isRecommend, prdt.isDeletedProduct
    from (select tp.pno, tp.productName, tp.productPrice, tp.registDate, tp.viewCount,
                 tp.likeCount, tp.isRecommend, tp.isDeletedProduct
          from tbl_product tp
          where tp.pno > 0 and tp.isDeletedProduct = true
          order by tp.pno desc
          limit #{skip}, #{size}
        ) as prdt
  </select>

  <!-- List Total Count Product ProductMapper id = "listCount" -->
  <select id="listCount">
    select count(*)
    from
    (select tp.pno from tbl_product tp
    where tp.pno > 0 and tp.isDeletedProduct = true
    limit #{countEnd}) prdt
  </select>

  <!-- Read Product ProductMapper id = "selectOne" -->
  <select id="selectOne" resultType="ProductDTO">
    select tp.pno, tp.productName, tp.productContent, tp.productPrice, tp.registDate,
        tp.updateDate, tp.viewCount, tp.likeCount, tp.isRecommend, tp.isDeletedProduct
    from tbl_product tp
    where tp.pno = #{pno}
  </select>

  <!-- Delete Product ProductMapper id = "deleteProduct" -->
  <update id="deleteProduct">
    update tbl_product tp
    set
      tp.productName = '', tp.productContent = '', tp.productPrice = 0, tp.registDate = null, tp.updateDate = now(),
      tp.viewCount = 0, tp.viewCount = 0, tp.isRecommend = 0, tp.isDeletedProduct = false
    where tp.pno = #{pno}
  </update>

  <!-- Update Product ProductMapper id = "updateProduct" -->
  <update id="updateProduct">
    update tbl_product tp
    set
      tp.productName = #{productName}, tp.productContent = #{productContent}, tp.productPrice = #{productPrice}, tp.updateDate = now(), tp.isRecommend = #{isRecommend}
    where tp.pno = #{pno}
  </update>

</mapper>