<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Date   : 2023.07.27, Author : 권성준, E-mail : thistrik@naver.com -->
<!-- OrderMapper Xml -->
<mapper namespace="com.project.fastpickup.admin.order.mappers.OrderMapper">

    <!-- OrderMapper id = "createOrder" -->
    <insert id="createOrder" parameterType="com.project.fastpickup.admin.order.dto.order.OrderCreateDTO">
        INSERT INTO 
        tbl_order 
        (orderCount, email, sno, pno)
        VALUES(#{orderCount}, #{email}, #{sno}, #{pno})
        <selectKey resultType="long" keyProperty="ono" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <!-- fileNames의 resultMap -->
    <!-- 파일명 결과 매핑 -->
    <resultMap id="FileNameResultMap" type="java.lang.String">
    <id property="fileName" column="fileName"/>
    </resultMap>
    <!-- OrderMapper id = "readOrder" -->
    <select id="readOrder" parameterType="long" resultMap="OrderResultMap">
        SELECT 
        o.ono, 
        o.orderCount, 
        o.registDate,
        o.email, 
        m.email,
        m.memberPhone,
        o.sno, 
        o.pno, 
        h.orderHistory,
        h.orderStatus,
        p.productName,
        p.productPrice,
        CONCAT(pi.uuid, '_' ,pi.fileName) AS fileName,
        s.storeName,
        s.storeAddress,
        s.storePhone
        FROM tbl_order o
        LEFT OUTER JOIN tbl_order_history h  ON h.ono = o.ono
        LEFT OUTER JOIN tbl_product       p  ON p.pno = o.pno
        LEFT OUTER JOIN tbl_product_image pi ON p.pno = pi.pno
        LEFT OUTER JOIN tbl_store         s  ON s.sno = o.sno 
        LEFT OUTER JOIN tbl_member        m  ON m.email = o.email
        WHERE o.ono = #{ono}
    </select>
    <resultMap id="OrderResultMap" type="com.project.fastpickup.admin.order.dto.order.OrderDTO">
        <id property="ono" column="ono"/>
        <result property="registDate" column="registDate"/>
        <result property="orderCount" column="orderCount"/>
        <result property="email" column="email"/>
        <result property="sno" column="sno"/>
        <result property="pno" column="pno"/>
        <result property="orderHistory" column="orderHistory"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="productName" column="productName"/>
        <result property="productPrice" column="productPrice"/>
        <result property="storeName" column="storeName"/>
        <result property="storeAddress" column="storeAddress"/>
        <result property="memberPhone" column="memberPhone"/>
        <result property="storePhone" column="storePhone"/>
        <collection property="fileName" ofType="java.lang.String" resultMap="FileNameResultMap"/>
    </resultMap>

    <!-- OrderMapper id = "updateOrder" -->
    <select id="updateOrder" parameterType="com.project.fastpickup.admin.order.dto.order.OrderUpdateDTO">
        UPDATE tbl_order
        SET 
        orderCount = #{orderCount}
        WHERE ono = #{ono}
    </select>

    <!-- OrderMapper id = "deleteOrder" -->
    <delete id="deleteOrder" parameterType="long">
        DELETE FROM 
        tbl_order
        WHERE ono = #{ono}
    </delete>

    <!-- OrderMapper id = "listOrder" -->
    <select id="listOrderAndHistory" parameterType="com.project.fastpickup.admin.order.dto.OrderAndHistoryListDTO">
        SELECT 
        o.ono, 
        o.email,
        o.registDate,
        s.sno,
        s.storeName,
        s.storePhone,
        o.orderCount, 
        h.orderStatus, 
        m.store,
        p.productName,
        p.productPrice,
        CONCAT(pi.uuid, '_', pi.fileName) as fileName
        FROM tbl_order o 
        LEFT OUTER JOIN tbl_order_history   h  ON o.ono = h.ono
        LEFT OUTER JOIN tbl_product         p  ON o.pno = p.pno
        LEFT OUTER JOIN tbl_product_image   pi ON pi.pno = p.pno AND pi.ord = 0
        LEFT OUTER JOIN tbl_store           s  ON o.sno = s.sno
        LEFT OUTER JOIN tbl_member 			m  on m.email = o.email
        WHERE o.ono > 0 AND h.ono > 0
        <if test="keyword != null and types != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="types" item="type" separator=" OR ">
                    <if test='type == "e"'>
                        o.email like concat('%', #{keyword}, '%')
                    </if>
                    <if test='type == "o"'>
                        o.ono like concat('%', #{keyword}, '%')
                    </if>
                    <if test='type == "s"'>
                        s.storeName like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </trim>
        </if>
        <if test="startDate != null">
            AND o.registDate >= #{startDate}
        </if>
        <if test="endDate != null">
            OR o.registDate &lt;= #{endDate}
        </if>
        ORDER BY o.ono DESC, h.orderHistory DESC
        LIMIT #{skip}, #{size}
    </select>

    <!-- OrderMapper id = "total" -->
    <select id="total" resultType="int">
        SELECT COUNT(*)
        FROM(
            SELECT 
            o.ono,
            s.sno
            FROM tbl_order             o
            LEFT OUTER JOIN tbl_store  s ON o.sno = s.sno
            LEFT OUTER JOIN tbl_member m ON s.email = m.email
            WHERE o.ono > 0
            <if test="keyword != null and types != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="types" item="type" separator=" OR ">
                <if test='type == "e"'>
                    o.email like concat('%', #{keyword}, '%')
                </if>
                <if test='type == "o"'>
                    o.ono like concat('%', #{keyword}, '%')
                </if>
                <if test='type == "s"'>
                    s.storeName like concat('%', #{keyword}, '%')
                </if>
                </foreach>
            </trim>
            </if>
            <if test="startDate != null">
                AND o.registDate >= #{startDate}
            </if>
            <if test="endDate != null">
                OR o.registDate &lt;= #{endDate}
            </if>
        LIMIT #{countEnd}
        ) as tbl_order
    </select>

    <!-- OrderMapper id = "duplicateOno" -->
    <select id="duplicateOno" parameterType="long">
        SELECT * FROM 
        tbl_order
        WHERE ono = #{ono}
    </select>

    <!-- OrderMapper id = "listOrder" -->
    <select id="listOrderForStoreAndHistory" parameterType="com.project.fastpickup.admin.order.dto.OrderAndHistoryListDTO">
        SELECT 
        o.ono, 
        o.email,
        o.registDate,
        s.sno,
        s.storeName,
        s.storePhone,
        o.orderCount, 
        h.orderStatus, 
        m.store,
        p.productName,
        p.productPrice,
        CONCAT(pi.uuid, '_', pi.fileName) as fileName
        FROM tbl_order o 
        LEFT OUTER JOIN tbl_order_history   h  ON o.ono = h.ono
        LEFT OUTER JOIN tbl_product         p  ON o.pno = p.pno
        LEFT OUTER JOIN tbl_product_image   pi ON pi.pno = p.pno AND pi.ord = 0
        LEFT OUTER JOIN tbl_store           s  ON o.sno = s.sno
        LEFT OUTER JOIN tbl_member 			m  on m.email = o.email
        WHERE o.ono > 0 AND h.ono > 0 AND s.sno = #{sno}
        <if test="pr.keyword != null and pr.types != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="pr.types" item="type" separator=" OR ">
                    <if test='type == "e"'>
                        o.email like concat('%', #{pr.keyword}, '%')
                    </if>
                    <if test='type == "o"'>
                        o.ono like concat('%', #{pr.keyword}, '%')
                    </if>
                    <if test='type == "s"'>
                        s.storeName like concat('%', #{pr.keyword}, '%')
                    </if>
                </foreach>
            </trim>
        </if>
        <if test="pr.startDate != null">
            AND o.registDate >= #{pr.startDate}
        </if>
        <if test="pr.endDate != null">
            AND o.registDate &lt;= #{pr.endDate}
        </if>
        ORDER BY o.ono DESC, h.orderHistory DESC
        LIMIT #{pr.skip}, #{pr.size}
    </select>

     <!-- OrderMapper id = "totalForStore" -->
    <select id="totalForStore" resultType="int">
        SELECT COUNT(*)
        FROM(
            SELECT 
            o.ono,
            s.sno
            FROM tbl_order             o
            LEFT OUTER JOIN tbl_store  s ON o.sno = s.sno
            LEFT OUTER JOIN tbl_member m ON s.email = m.email
            WHERE o.ono > 0 AND s.sno = #{sno}
            <if test="pr.keyword != null and pr.types != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="pr.types" item="type" separator=" OR ">
                <if test='type == "e"'>
                    o.email like concat('%', #{pr.keyword}, '%')
                </if>
                <if test='type == "o"'>
                    o.ono like concat('%', #{pr.keyword}, '%')
                </if>
                <if test='type == "s"'>
                    s.storeName like concat('%', #{pr.keyword}, '%')
                </if>
                </foreach>
            </trim>
            </if>
            <if test="pr.startDate != null">
                AND o.registDate >= #{pr.startDate}
            </if>
            <if test="pr.endDate != null">
                AND o.registDate &lt;= #{pr.endDate}
            </if>
        LIMIT #{pr.countEnd}
        ) as tbl_order
    </select>


</mapper>