<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- QnaMapper Xml -->
<mapper namespace="com.project.fastpickup.admin.qna.mappers.QnaMapper">

    <!--  list  -->
    <select id="listQna" resultType="com.project.fastpickup.admin.qna.dto.QnaListDTO">
        select q.qno, q.qnaTitle, q.registDate, q.email, if(r.rno > 1, 1, 0) as replyStatus
        from tbl_qna q
        left outer join tbl_qna_reply r on q.qno = r.qno
        where q.qno > 0
        <if test="keyword != null and type != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="types" item="type" separator=" OR ">
                    <if test='type == "e"'>
                        q.email like concat('%', #{keyword}, '%')
                    </if>
                    <if test='type == "t"'>
                        q.qnaTitle like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </trim>
        </if>
        order by q.qno desc
        limit #{skip}, #{size}
    </select>

    <!--  listCount  -->
    <select id="listCount">
        select count(*) from
        (select qno
        from tbl_qna
        where qno > 0
        <if test="keyword != null and type != null">
            <trim prefix="AND (" prefixOverrides="OR" suffix=")">
                <foreach collection="types" item="type" separator=" OR ">
                    <if test='type == "e"'>
                        email like concat('%', #{keyword}, '%')
                    </if>
                    <if test='type == "t"'>
                        qnaTitle like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </trim>
        </if>
        limit #{countEnd}) as qna
    </select>

    <!--  create  -->
    <insert id="createQna" parameterType="com.project.fastpickup.admin.qna.dto.QnaRegistDTO">
        insert into tbl_qna
        (qnaTitle, qnaContent, email)
        values (#{qnaTitle}, #{qnaContent}, #{email})
        <selectKey resultType="long" keyProperty="qno" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <!--  read  -->
    <select id="readQna" resultType="com.project.fastpickup.admin.qna.dto.QnaDTO">
        select * from tbl_qna
        where qno = #{qno}
    </select>

    <!--  update  -->
    <update id="updateQna" parameterType="com.project.fastpickup.admin.qna.dto.QnaRegistDTO">
        update tbl_qna
        set qnaTitle = #{qnaTitle}, qnaContent = #{qnaContent}, updateDate = now()
        where qno = #{qno}
    </update>

    <!--  delete  -->
    <delete id="deleteQna">
        delete from tbl_qna
        where qno = #{qno}
    </delete>

</mapper>