<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ReviewMapper Xml -->
<mapper namespace="com.project.fastpickup.admin.review.mappers.ReviewMapper">
  
    <!-- 댓글 -->
    <insert id="registReview">

        insert into tbl_review(sno, email, reviewTitle ,reviewContent, ono) values(#{sno}, #{email}, #{reviewTitle}, #{reviewContent}, #{ono})

        <selectKey resultType="long" keyProperty="rno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>

    <!-- 순수 댓글은 gno = rno -->
    <update id="updateGno">
        update tbl_review set gno = #{rno} where rno = #{rno}
    </update>
    <!-- 댓글 -->


    <!-- 답글 -->
    <insert id ="registChildReview">
        insert into tbl_review(sno, email, reviewTitle ,reviewContent, gno, ono) values(#{sno}, #{email}, #{reviewTitle}, #{reviewContent}, #{gno}, #{ono})
        
        <selectKey resultType="long" keyProperty="rno" order="AFTER">
                SELECT LAST_INSERT_ID()
         </selectKey>
    </insert>
    <!-- 답글 -->


    <!-- 리뷰 전체 리스트 -->
    <select id="getReviewList" resultType="com.project.fastpickup.admin.review.dto.ReviewListDTO">
    
        select r.rno, r.ono, r.sno, r.gno, r.email, r.reviewTitle, r.reviewDate, 
            r.reviewUpdateDate,s.storeName, p.productName ,concat(i.uuid,'_',i.fileName) as fileName
        from tbl_review r left outer join tbl_review_img i on r.rno = i.rno
		        left outer join tbl_store s on r.sno = s.sno
		        left outer join tbl_order o on r.ono = o.ono
		        left outer join tbl_product p on o.pno = p.pno
        where (i.ord = 0 or i.ord is null) and r.isDeleted = false and r.rno = r.gno

            <if test="keyword != null and types != null">
              <trim prefix="and (" prefixOverrides="or" suffix=")">
                <foreach collection="types" item="type" separator=" or ">
                  <if test='type == "e"'>
                    r.email like concat('%', #{keyword}, '%')
                  </if>
                  <if test='type == "s"'>
                    s.storeName like concat('%', #{keyword}, '%')
                  </if>
                  <if test='type == "t"'>
                    r.reviewTitle like concat('%', #{keyword}, '%')
                  </if>
                </foreach>
              </trim>
            </if>

        order by r.rno desc 
        limit #{skip}, #{size}

    </select>

    <select id="reviewListCount" resultType="long">
        select count(*) from 
        (select rno from tbl_review
        where rno > 0 and rno = gno limit #{countEnd}) review
    </select>

    <!-- 가맹점 별 리뷰 리스트  -->
    <select id="getReviewListStore" resultType="com.project.fastpickup.admin.review.dto.ReviewListDTO">
                select r.rno, r.ono, r.sno, r.gno, r.email, r.reviewTitle, r.reviewDate, 
            r.reviewUpdateDate,s.storeName, p.productName ,concat(i.uuid,'_',i.fileName) as fileName
        from tbl_review r left outer join tbl_review_img i on r.rno = i.rno
		        left outer join tbl_store s on r.sno = s.sno
		        left outer join tbl_order o on r.ono = o.ono
		        left outer join tbl_product p on o.pno = p.pno
        where (i.ord = 0 or i.ord is null) and r.isDeleted = false and r.sno = #{sno} and r.rno = r.gno
        order by r.rno desc 
        limit #{pr.skip}, #{pr.size}
    </select>

    <select id="reviewListStoreCount" resultType="long">
        select count(*) from 
        (select rno from tbl_review
        where rno > 0 and rno = gno limit #{countEnd}) review
    </select>

    <!-- 리스트 -->


    <!-- 
        리뷰 상세보기
    -->
    <resultMap id="reviewMap" type="com.project.fastpickup.admin.review.dto.ReviewReadDTO">
        <id property="rno" column="rno"/>
        <result property="gno" column="gno"/>
        <result property="sno" column="sno"/>
        <result property="ono" column="ono"/>
        <result property="email" column="email"/>
        <result property="reviewTitle" column="reviewTitle"/>
        <result property="reviewContent" column="reviewContent"/>
        <result property="reviewDate" column="reviewDate"/>
        <result property="storeName" column="storeName"/>
        <result property="productName" column="productName"/>
        <result property="isDeleted" column="isDeleted"/>
        <collection property="fileNames" resultMap="reviewFileMap"/>
    </resultMap>

    <resultMap type="string" id="reviewFileMap">
        <result column="fileNames"/>
    </resultMap>

    <select id="reviewSelectOne" resultMap="reviewMap">
    
        select r.rno, r.sno, r.ono ,r.gno, r.email, r.reviewTitle, r.reviewContent , r.reviewDate, 
            s.storeName, p.productName, r.isDeleted, concat(i.uuid,'_',i.fileName) as fileNames
        from tbl_review r left outer join tbl_review_img i on r.rno = i.rno
		        left outer join tbl_store s on r.sno = s.sno
		        left outer join tbl_order o on r.ono = o.ono
		        left outer join tbl_product p on o.pno = p.pno
        where r.rno = #{rno} and r.isDeleted = false 
        order by r.rno desc 

    </select>
    <!-- 상세보기 -->

    <!-- 가맹점 리뷰 답글 -->
    <select id="storeReview" resultType = "com.project.fastpickup.admin.review.dto.ReviewReadDTO">
    
	    select r.rno, r.sno, r.ono ,r.gno, r.email, r.reviewTitle, r.reviewContent , r.reviewDate, 
            s.storeName, p.productName, r.isDeleted, concat(i.uuid,'_',i.fileName) as fileNames
        from tbl_review r left outer join tbl_review_img i on r.rno = i.rno
		        left outer join tbl_store s on r.sno = s.sno
		        left outer join tbl_order o on r.ono = o.ono
		        left outer join tbl_product p on o.pno = p.pno
        where r.gno = #{rno} and r.isDeleted = false and r.rno != r.gno
        order by r.rno desc; 

    </select>
    <!-- 가맹점 리뷰 답글 -->



    <!-- 리뷰 삭제 -->
    <update id ="deleteReview" parameterType ="long">
        update tbl_review set isDeleted = true where rno = #{rno}
    </update>

    <update id ="updateReview">
        
        update tbl_review set reviewContent = #{reviewContent}, reviewTitle = #{reviewTitle}
            where rno = #{rno}

    </update>

    <!-- 리뷰 답글 카운트 -->

    <select id ="countStoreReivew" resultType="int" >
         select count(*) from tbl_review where gno = #{gno} and isDeleted = 0;
    </select>

    <!-- rno에 대한 gno를 가져온다. -->
    <select id ="getReviewGno" resultType ="long">
        select gno from tbl_review where rno=#{rno}
    </select>

</mapper>